.slider_img_or_news{
    position: relative;
    margin-left: 100px;
    max-width: 820px;
    overflow: hidden;
}
.slider_next{
    position: absolute;
    bottom: 45%;
    left: 96%;
}

.slider_back{
    position: absolute;
    bottom: 45%;
    left: 1%;
}

.slider_line {
    display: flex;
    transition: all ease 1s;
}

.btn_or_right_bottom{
    position: absolute;
    display: block;
    bottom: 3%;
    left: 88%;
    white-space: nowrap;
}

.btn_or_right_bottom img{
    margin-left: 5px;
}
